/* Reset css */
ul,ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6, p{
    margin: 0;
}
a {
    text-decoration: none;}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;

}
/*common*/
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/* header */
.header-page {
    border-bottom: 1px solid;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 40px;
}
.address-list{
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.header-logo {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}
.header-logo .logo-part {
    color: #2e2f42;
} 
.header-nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42; 
}

.header-address {
    font-style: normal;
    margin-left: auto ;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-address-link {
display: block;
padding: 24px 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-address-link:hover,
.header-address-link:focus {
color:#404bbf;
}

/* hero-page */

.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
    
}

.hero-title{
    max-width: 496px;
    margin: 0 auto 48px;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
}

.hero-btn {
    padding: 16px 32px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4d5ae5;
color: #fff;
cursor: pointer
 }
 .hero-btn:hover,
 .hero-btn:focus{
    background-color: #404bbf;;
 }
 /* benefits */
 .benefits-page{
    padding: 120px;
    border-bottom: 1px;
 }

.benefits-title{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list {
    display: flex;
    gap: 24px;
}


 .benefits-item-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
padding-bottom: 8px;
 
 }

 .text-benefits {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 }

 /* Our team */
 .team-pages {
    background-color:#f4f4fd;

 }
 .team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;

 }
 .team-name {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
 }
.team-position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;

}
.team-item {
    background-color: #fff;
}
 /* Portfolio*/
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*footer*/
.footer {
    background-color: #2e2f42;
}
.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
.footer-logo .footer-logo-part {
    color: #f4f4fd;
}


